#tempo-separator.horizontal  {
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-height: 1;

    border-image: -gtk-gradient(linear,
                                left top, right top,
                                from(@theme_bg_color),
                                color-stop(0.50, shade(@theme_text_color, 0.70)),
                                to(@theme_bg_color)) 1 / 1 stretch;

    border-style: solid;
    border-width: 1;
}

#tempo-separator.vertical  {
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-width: 1;

    border-image: -gtk-gradient(linear,
                                left top, left bottom,
                                from(@theme_bg_color),
                                color-stop(0.50, shade(@theme_text_color, 0.70)),
                                to(@theme_bg_color)) 1 / 1 stretch;

    border-style: solid;
    border-width: 1;
}

#tempo-degree-label {
    font: Bold 24;
}

#tempo-condition-label {
    font: Bold;
}

#tempo-detail-label {
    font: 10;
}

#tempo-city-label {
    font: Bold;
}

#tempo-forecast-temp-label {
    font: Bold 8;
}
